body {
    visibility: hidden;
    margin: 0;
}

img {
    display: none;
}

#container {
    overflow: auto;
    resize: both;
}

#display {
    position: absolute;
    font-size: xx-large;
    text-shadow: 1px 1px white;
}